.row-custom{
  min-height: 50vh;
}

.card-w{
  width: 80%;
}

.img-preview{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
}

